*~
test/coverage/full.gcov
test/coverage/libgrilio.gcov
test/coverage/results
debian/files
debian/libgrilio
debian/libgrilio-dev
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/tmp
documentation.list
installroot
build
RPMS
